<!doctype html>
<html lang="en">
    <head>

        <!-- Webpage Title -->
        <title>Hello, world!</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

        <style>
            * {
            font-family: 'Gowun Dodum', sans-serif;
            }


            button{
                font-family: 'Gowun Dodum', sans-serif;
            }


            .name_input{
                margin-top:30px;
            }

            .pwd_input{
                margin-top:30px;
            }
             .help{
            font-size:20px;
            text-align:left;
             }


        </style>


        <script>

            // 아이디, 비밀번호, 이름을 받아 DB에 저장합니다.
            function register() {
                let userid = $("#userid").val()
                let userpw = $("#userpw").val()
                let usename = $("#usernick").val()


                $.ajax({
                    type: "POST",
                    url: "/user/api/register",
                    data: {
                        id_give: userid,
                        pw_give: userpw,
                        name_give: usename
                    },
                    success: function (response) {

                        if (response['result'] == 'success') {

                            alert('회원가입이 완료되었습니다.')
                            window.location.href = '/login'
                        } else {
                            alert(response['msg'])
                        }

                    }
                    });





            }


            function checkup() {

                $.ajax({

                    type: "POST",
                    url: "/user/api/registerch",
                    data: {id_receive : $("#userid").val()},
                    success: function (response){

                        if (response["exists"]) {
                        alert('이미존재하는 아이디 입니다.')
                        $("#input-username").focus()

                     } else {
                        alert('사용할 수 있는 아이디 입니다.')
                     }


                    }


                });

            }




        </script>
    </head>
    <body>
        <div class="section has-text-centered">
            <h1 class="title">회원가입 페이지</h1>
            <div class="container" style="width:60%">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="userid">ID</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" id="userid" placeholder="My ID">
                                <p id="help-id-login" class="help is-danger"></p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="field is-horizontal pwd_input">
                    <div class="field-label is-normal">
                        <label class="label" for="userpw">PW</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input" id="userpw" placeholder="My Password">
                                <p id="help-password-login" class="help is-danger"></p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="field is-horizontal name_input">
                    <div class="field-label is-normal">
                        <label class="label" for="usernick">NAME</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" id="usernick" placeholder="My name">
                                <p id="help-name-login" class="help is-danger"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-primary" onclick="register()">회원가입</button>
                <button class="button is-primary is-outlined" onclick="checkup()">ID중복확인</button>
            </div>
        </div>
    </body>
</html>